.application-page {
    .application-item {
        padding : 20px 0;
        border-bottom: 1px solid $grey-1;
    }
    .item-body {
        display: table;
        width: 100%;
        .actions,
        .risk,
        .score,
        .title {
            display: table-cell;
            vertical-align: top;
            width: 15%;
        }

        .title {
            width: 55%;
            color: $blue;
            font-weight: 500;
            font-size: 16px;
        }

        .risk,
        .score {
            text-align: center;

            .number {
                font-size: 48px;
                font-weight: bold;
            }

            .desc {
                text-transform: uppercase;
                font-weight: 500;
                color: $light-grey;
            }
        }

        .actions {
            .icon {
                color: $light-grey;
                padding-left: 10px;
                font-size: $huge-font-size;
            }
        }
    }
    
    .select-list-block {
    	border: solid 1px black;
    	border-radius: 3px;
    	height: 200px;
    	
    	.list-group {
    		.list-group-item {
    			border: none;
    			color: #000;
    		}
    	}
    	.group-item {
    		h6 {
    			width: 85%;
    			float: left;
			}
    	}
    }
    
    .tag-block {
    
    	.tag-title {
    		h5 {
    			width: 95%;
    			float: left;
    		}
    	}
    
    	.tag-item {
	    	border: solid 1px $grey;
	    	padding: 5px 10px;
	    	
	    	a {
	    		color: #000;
    		    background-color: #e0a800;
	    		margin: 0px 5px 5px 0px;
	    		padding: 1px 10px;
	    	}
    	}
    }
}

.application-paging {
    text-align: center;
    margin-top: 40px;

    .paging {
        display: inline-block;
        padding: 0 5px;

        .paging-item {
            display: inline-block;
            padding: 0 10px;

            .paging-btn {
                height: 40px;
                width: 40px;
                line-height: 40px;
                border: 1px solid $blue;

                &.active {
                    border: 0;
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }
}

.chooser-blk {  
    &.loading {
        cursor: wait;
        * {
            pointer-events: none;
        }
        @include opacity();
    }
}

/*
* By App info
*/
.by-app-info-blk {
    .main-ipt {
        position: relative;
        .app-info-blk {
            position: absolute;
            z-index: 1;
        }
    }
}

.app-info-blk {
    background: #fff;
    @include box-shadow(0, 1px, 3px, rgba(0,0,0, 0.4));
    @include border-radius(2px);
    width: 630px;
    .app-info-ct {
        padding: 15px;
    }
    .lbl {
        font-weight: bold;
        color: $grey;
    }
    .src-opt {
        display: block;
        width: 100px;
        border: 1px solid #eee;
        @include border-radius(2px);
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            border: 1px solid #999; 
        }
        &.active {
            color: #fff;
            background: $blue;
            border: 1px solid $blue;
            &:hover {
                border: 1px solid $blue; 
            }
        }
    }
    .app-info-footer {
        background: #eee;
        padding: 15px;
        .blue-btn {
            margin-left: 15px;
        }
    }
}

.app-src-blk {
    margin-bottom: 15px;
}

.record-tbl {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    .tbl {
        width: 100%;
        font-size: 12px;
        tr {
            &:hover {
                background: #fefefe;
            } 
        }
        th {
            font-weight: 400;
            background: $grey;
            color: #fff;
            padding: 5px 10px;
        }
        td {
            padding: 5px 10px; 
            border-bottom: 1px solid #ddd;
        }
        .w20 {
            width: 20%;
        }
        .w10 {
            width: 10%;
        }
    }
    .far {
        color: $blue;
    }
}

.uncheck-box {
    display: inline-block;
    border: 1px solid #bbb;
    width: 12px;
    height: 12px;
    @include border-radius(50%);
    vertical-align: -4px;
}