.content-wrapper {
    margin-left: $lg-sidebar-width;
}

.main-content {
    padding: 30px;
}

.application-page {
    .application-title {
        color: $mid-night;
        margin-bottom: 40px;
        
        button {
        	font-weight: bold;
        }
    }

    .section {
        padding: 20px 0;
        border-bottom: 1px solid $light-grey;

        .title {
            font-size: $lg-font-size;
            margin-bottom: 10px;
            font-weight: 700;
        }

        .highcharts-credits {
            display: none;
        }
    }

    .score-section {
        padding: 0;
        border-bottom: 1px solid $light-grey;

        .col + .col {
            position: relative;
            padding-left: 100px;

            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                background: $light-grey;
                top: 0;
                right: 100%;
            }
        }

        .score-item {
            display: table;
            width: 100%;

            .text,
            .value {
                display: table-cell;
                vertical-align: middle;
            }

            .text {
                width: 100px;
                font-weight: 700;
            }

            .number {
                border: 2px solid;
                padding: 10px 12px;
                display: inline-block;
                border-radius: 100%;
                font-weight: 700;
                font-size: $lg-font-size;
            }
        }

        .time {
            margin: 20px 0;
        }

        .summary {
            margin: 20px 0;
            font-size: $lg-font-size;
        }
    }

    .issue-severity-section {
    	.list-inline {
    		li {
    			margin-right: 0;
    			
    			a {
    				color: #000;
    				font-weight: bold;
    				background-color: #EDECF1;
    			}
    			
    			&.active {
    				a {
	    				color: #fff;
	    				font-weight: bold;
	    				background-color: #000;
	    			}
    			}
    		}
    		.list-inline-item:not(:last-child) {
    			border-right: solid 1px #888B90;
    		}
    	}
        .issue-item {
            text-align: center;

            .number {
                font-size: 48px;
                font-weight: bold;
            }

            .desc {
                font-size: $lg-font-size;
                color: $light-grey;
                text-transform: uppercase;
            }
        }
    }

    .issue-category-section {
        .category-chart {
            height: 400px;
            margin: 0 auto;
        }
    }

    .issue-tool-section {
        border: 0;

        .tool-chart {
            height: 400px;
            margin: 0 auto;
        }
    }
}
