body {
    font-size: $main-font-size;
    font-family: 'Roboto', arial, sans-serif;
    color: $black;
    font-weight: 200;
}

ul {
    list-style: none;
}

a {
    color: $blue;

    &:hover {
        text-decoration: none;
    }

    &:not([href]):not([tabindex]) {
        color: $blue;

        &:hover {
            color: $blue-1;
        }
    }
}

.text-mute {
    color: $light-grey;
}

.form-control {
    &.txt {
        @include border-radius(2px);
    }
}

/* All Pages */
.r-page-ttl {
    margin-top: 0;
    color: $grey;
}

/* Buttons */
.btn {
    font-family: 'Roboto', arial;
    font-weight: 200;
    padding: 0.2rem 1.6rem;
    background-color: $grey;
    color: #fff;
    cursor: pointer;
    @include border-radius(2px);
    &.s-sm {
        font-size: 12px;
        padding: 3px 20px;
    }
    &:hover {
        color: #fff;
        background-color: darken($grey, 10%);
        &:disabled {
            @include opacity();
            cursor: not-allowed;
        }
    }
    &:disabled {
        @include opacity();
        cursor: not-allowed;
    }
    &.blue-btn,
    &.btn-primary {
        background-color: $blue;
        border-color: $blue;
        &:disabled {
            &:hover {
                background-color: $blue;
                border-color: $blue;
            }
        }
        &:hover {
            background-color: darken($blue, 10%);
            border-color:  darken($blue, 10%);
        }
    }
    &.btn-danger {
        background-color: $red;
        border-color: $red;
        &:hover {
            background-color: darken($red, 10%);
            border-color:  darken($red, 10%);
        }
    }
}
